html {
  height: 100vh;
  width: 100vw;
  font-family: 'Comfortaa', sans-serif;
}

.hotel, .contacting{
  background-color: #a6ef4e;
  text-align: center;
  border-radius: 10px;
  border-color: #b5b5b5;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.QnA{
  background-color: #a6ef4e;
  text-align: center;
  border-radius: 10px;
  border-color: #b5b5b5;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1);
  transition: transform 1s ease-in-out;
}
.QnA:hover{
  background-color: #a6ef4e;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #232323;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1.1);
  animation: hover 2s alternate infinite;
}
.contacting:hover{
  background-color: #a6ef4e;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #232323;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1.1);
  animation: hover 2s alternate infinite;
}
.hotel:hover{
  background-color: #a6ef4e;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #232323;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1.1);
  animation: hover 2s alternate infinite;

}
.bleh{
  color: #000000;;
}
.uhoh{
  background-color: #fec700;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #7a4a00;
  border-style: dashed;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
}
.urInv{
  height: 15%;
  width: 45%;
}
.venues{
  background-color: #a6ef4e;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #b5b5b5;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  
}
.inv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 19, 19);
  color:silver;
  border-radius: 7px;
  border-color: #a6ef4e;
  border-width: 5px;
  border-style: solid;
  font-size: 40px;
  height: 75%;
  width: 55%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 5px 20px 20px rgb(151, 151, 151);
} 
.pooka{
  color:silver;
  font-size: 1.5em;
}
.date{
  color:silver;
  font-size: 2em;
}
.ok{
  background-color: #7a7a7a;
  border-radius: 20px;
  height: 3em;
  width: 6em;
  box-shadow: 0px 5px 5px rgb(68, 68, 68);
}
footer{
  background-color: #b5b5b5;
  bottom: 0px;
}
.venues:hover{
  background-color: #a6ef4e;
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #232323;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  animation: hover 2s alternate infinite;
  transition: animation .2s ease-in-out;
}
@keyframes hover{
  0%{font-size: 1.2em;}
  100%{transform: scale(1.1);
       transition: transform .2s;
      font-size: 1.2em;}
}
.party:hover{
  text-align: center;
  color:black;
  border-radius: 10px;
  border-color: #232323;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  margin: 30px;
  transform: scale(1.1);
  transition: transform .2s;
  animation: party .5s alternate infinite;
}
@keyframes party{
  0%{background-color:white;}
  100%{background-color:#0056d6;
      font-size: 1.2em;}
}
.info {
  margin-top: 100px;
}

body {
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;

}

h1 {

  color: #a6ef4e;
  font-size: 50px;
  margin-bottom: 2em;
       
}

h2 {
  color: black;
  font-size: 2em;
}

h3 {
  color: black;
}
.venText{
  color: black;
}
h4 {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #a6ef4e;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.downNav {
  background-image: url('caution-tape.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.down{
  color: #fffc41;
  font-size: 50px;
  margin-bottom: 2em;
}
li {
  display: inline;
  background-color: #b5b5b5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;

}


.link {
  color: black;
  text-decoration: none;
  padding: 5px;
}
